.stacked-prediction-image-box-short-screen {
  position: relative;
  overflow: hidden;
  max-height: 180px;
  min-height: 180px;
}

.stacked-prediction-image-box {
  position: relative;
  overflow: hidden;
  max-height: 240px;
  min-height: 240px;
}

.prediction-subject-img {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  min-width: 100%;
}

.prediction-book-stacked-img {
  position: absolute;
  max-height: 50%;
  bottom: 0;
  right: 0;
}

.cover-only-prediction-image-box-short-screen {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 180px;
  min-height: 180px;
}

.cover-only-prediction-image-box-short-screen > .prediction-book-solo-img {
  max-width: 100%;
  max-height: 180px;
  min-height: 180px;
}


.cover-only-prediction-image-box {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 240px;
  min-height: 240px;
}

.cover-only-prediction-image-box > .prediction-book-solo-img {
  max-width: 100%;
  max-height: 240px;
  min-height: 240px;
}


.author-header {
  margin-top: 0;
}